.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media (max-width: 700px) {
    padding: $size;
  }
  .topContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    @media (max-width: 700px) {
      justify-content: space-between;
    }

    .addPerson,
    .sortByName {
      font-size: calc($size * 1.7);
      color: $secondary;
      border: none;
      position: relative;
      border-bottom: 2px solid $text;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 700px) {
        font-size: $size;
      }
    }
    .addPerson {
      padding: 0.5rem;
      border-right: 2px solid $text;
    }
    .sortByName {
      padding: 0.5rem;
    }

    .searchBar {
      font-size: calc($size * 1.2);
      padding: $size;
      border: none;
      outline: none;
      border-bottom: calc($size * 0.125) solid $text;
      @media (max-width: 700px) {
        font-size: 0.7rem;
      }
    }
  }

  .table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid $text;
    @media (max-width: 700px) {
      width: 90%;
    }
    caption {
      font-size: calc($size * 2);
      font-weight: 900;
      color: #333;
      padding: calc($size * 2);
      text-decoration: underline;
      @media (max-width: 700px) {
        font-size: $size;
      }
    }
    .labels {
      font-size: calc($size * 1.1);
      color: $secondary;
      text-align: center;
      @media (max-width: 700px) {
        font-size: 0.7rem;
      }
      tr {
        select {
          padding: calc($size * 0.5);
          outline: none;
          border: none;
          font-size: calc($size * 1.1);
          color: $secondary;
          font-weight: 900;
          @media (max-width: 700px) {
            font-size: 0.7rem;
          }
        }
      }
    }
    .details {
      text-align: center;
      .edit {
        position: relative;
      }
      tr,
      td {
        border: calc($size * 0.1) solid $text;
        padding: $size;
        @media (max-width: 700px) {
          padding: 0;
          font-size: 0.6rem;
        }
        button {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
